<div class="restaurant-detail">
  <img src="{{restaurants.image}}" alt="restaurant-image" style="height: 300px; ">
  <h1>{{restaurants.name}}</h1>
  <p>{{restaurants.category}}</p>
  <p>{{restaurants.location}}</p>
  <p>{{restaurants.phone}}</p>
  <p>{{restaurants.description}}</p>

</div>