<div class="line">
  <img src="https://res.cloudinary.com/dnivakimu/image/upload/v1615038574/duck-line_y6wjby.png" alt="">
</div>

{{!-- card --}}
<div class="container">
  <div class="row">
    {{#each restaurants}}
    <div class="col-sm-4 mt-6">
      <div class="card" style="width: 18rem;">
        <img src="{{this.image}}" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p> <i class="fas fa-utensils"></i> {{this.category}}</p>
          <p class="card-rate"> <i class="fas fa-star"></i> {{{this.rating}}} </p>
        </div>
        <div class="card-footer">
          <a class="cardBtn" href="./restaurants/{{this._id}}"> <i class="fas fa-info-circle"></i> Info</a>
          <form action="/restaurants/{{this._id}}/edit" method="GET" class="btnForm">
            <button class="btn-edit" type="submit"><i class="fas fa-edit"></i></button>
          </form>
          <form action="/restaurants/{{this._id}}/delete" method="POST" class="btnForm">
            <button class="btn-edit" type="submit" onclick="return confirmBtn()"><i
                class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="line">
    <img src="https://res.cloudinary.com/dnivakimu/image/upload/v1615038574/duck-line_y6wjby.png" alt="">
  </div>
  <script>
    function confirmBtn() {
      const yes = confirm('確定要刪除嗎？')
      if (yes) {
        return true
      } else {
        return false
      }
    }
  </script>
</div>